body { background-color:#f5f5f5;}
.navbar {
    max-width: 1200px;     /* 가운데 정렬 느낌 */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo-img {
    height: 100px;
    object-fit: contain;
}

.nav-center a {
    padding-right: 80px;
    margin-left: 20px;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
    color: #333;
}

.nav-right a {
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #555;
}

.nav-center a:hover,
.nav-right a:hover {
    color: #1A73E8;
}